{
  "arrowParens": "avoid",
  "singleQuote": true,
  "bracketSameLine": true,
  "trailingComma": "none",
  "tabWidth": 4,
  "semi": true,
  "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": ["*.config.ts", "*.config.js", "*.config.mjs", "*.json", "*.yaml", "*.yml"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
